body {
    font-size: 22px;
}

.navbar-header {
	background: black;
}

.navbar-default .navbar-nav > li > a {
	color: black !important;
	font-size: 1.3em;
	line-height: 1.3em;
}

.navbar-default .navbar-nav > li {
	line-height: 1.3em;
	border-bottom: 1px solid #dddddd;
}

.navbar-default .navbar-nav > li:last-child  {
	border-bottom: 0px !important;
}

table {
	width: 98% !important;
}
.departure-list {
	background: white;
	border-radius: 6px;
	text-align: center;
}

.display-time {
	white-space: nowrap;
}

#departures #loader {
	margin-top: 20px;
}

